@model IEnumerable<BookListingModel>

@{ ViewData["Title"] = "Books"; }

<h2>@ViewData["Title"]</h2>

<p>
	<a asp-controller="Books" asp-action="Add" class="btn btn-secondary">Add New Book</a>
</p>

<table class="table">
	<tr>
		<th>
			<h5>Id</h5>
		</th>
		<th>
			<h5>Title</h5>
		</th>
		<th>
			<h5>Action</h5>
		</th>
	</tr>
	@foreach (var book in Model)
	{
	<tr>
		<th>
			<h5>@book.Id</h5>
		</th>
		<th>
			<h5>@book.Title</h5>
		</th>
		<th>
			<a asp-controller="Books" asp-action="Details"
			   asp-route-id=@book.Id class="btn btn-primary">Details</a>
			<a asp-controller="Books" asp-action="Edit"
			   asp-route-id=@book.Id class="btn btn-warning">Edit</a>
			<a asp-controller="Books" asp-action="Delete"
			   asp-route-id=@book.Id class="btn btn-danger">Delete</a>
		</th>
	</tr>
	}
</table>