@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Shop</h1>
	<p>
		<h5 style="color: rgb(126, 178, 164)">Architecture of ASP.NET Core Microservices Applications</h5>
	</p>
</div>
