@*@using Microsoft.AspNetCore.Identity*@
@*@inject SignInManager<IdentityUser> SignInManager
	@inject UserManager<IdentityUser> UserManager*@
@inject ICurrentUserService user

<ul class="navbar-nav">
	@*if (SignInManager.IsSignedIn(User))
		{
			<li class="nav-item">
				<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
			</li>
			<li class="nav-item">
				<form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
				</form>
			</li>
		}
		else
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
			</li>
		}*@

	@if (!string.IsNullOrEmpty(user.Email))
	{
		<li class="nav-item">
			<a  class="nav-link text-dark" asp-area="" asp-controller="/Account/Manage/Index" asp-action="" title="Manage">Hello @user.Email!</a>
		</li>
		<li class="nav-item">
			<form  class="form-inline" asp-area="" asp-controller="Users" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
		</li>
	}
</ul>
