@model IEnumerable<CategoryModel>

@{ ViewData["Title"] = "Categories"; }

<h2>@ViewData["Title"]</h2>

<p>
	<a asp-controller="Categories" asp-action="Add" class="btn btn-secondary">Add New Category</a>
</p>

<table class="table">
	<tr>
		<th>
			<h5>Id</h5>
		</th>
		<th>
			<h5>Name</h5>
		</th>
		<th>
			<h5>Action</h5>
		</th>
	</tr>
	@foreach (var category in Model)
	{	
	<tr>
		<th>
			<h5>@category.Id</h5>
		</th>
		<th>
			<h5>@category.Name</h5>
		</th>
		<th>
			<a asp-controller="Categories" asp-action="Edit"
				asp-route-id=@category.Id class="btn btn-warning">Edit</a>
			<a asp-controller="Categories" asp-action="Delete"
				asp-route-id=@category.Id class="btn btn-danger">Delete</a>
		</th>
	</tr>
	}
</table>