@model ReviewListingModel

@{ ViewData["Title"] = "Details"; }

<div class="row">
    <div class="col-md-10">
        <article>
            <h2>@Model.BookName</h2>

            <header>
                <h3>@Model.Title</h3>
            </header>

            <p>
                @Model.Description
            </p>

            <small class="author">
                @Model.Author
            </small>

            <footer>
                <div class="pull-right">
                    <a href=@ViewBag.ReturnUrl
                       class="btn btn-default btn-xs">Back</a>
                </div>
            </footer>
        </article>
        <hr>
    </div>
</div>